@model TodoList.Models.TodoDetail
<!--this particular views expects the todolists-->

@{
    /**/

    ViewBag.Title = "Index";
}


@*removing the following code and building ajax call to create the form*@

@*<h2>Index</h2>
    <p>@Html.ActionLink("Create New", "Create")</p>*@

@*using ajax helper to create todo form*@

<div id="tabView"></div>


<div id="todoCreate">
    @using (Ajax.BeginForm("AjaxCreate", "TodoDetails", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "tabView"

    }))

    {
        <div class="form-group">
            @Html.AntiForgeryToken() @*this sends a session id along with the post information which is validated*@
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger",  })
            </div>
        </div>
    }
</div>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts_Customized/tabJS.js"></script>

    @* <!--this will load client side validation--> *@
    @Scripts.Render("~/bundles/jqueryval")
}